In [4]:
import os
import pandas as pd

path = os.getcwd()
fN = (path + './data/featureNames.txt')
cleveland = (path + "./data/c.csv")
switzerland = (path + "./data/s.csv")
hungarian = (path + "./data/h.csv")
va = (path + "./data/lb.csv")
m_Data = (path + "./data/Merged_Data.csv")
Processed_Data = (path + "./data/Processed_Data.csv")


hn = pd.read_csv(fN, sep='\n', header=None)

#cleveland_df = pd.read_csv(cleveland, sep=',', names = headers.values.T.tolist()[0] , na_values =["?"])
#switzerland_df = pd.read_csv(switzerland, sep=',', names = headers.values.T.tolist()[0] , na_values =["?"])
#va_df = pd.read_csv(va, sep=',',  names = headers.values.T.tolist()[0] , na_values =["?"])
#hungarian_df = pd.read_csv(hungarian, sep=',',  names = headers.values.T.tolist()[0] , na_values =["?"])

# append the four files into a single dataframe
#temp = cleveland_df.append(switzerland_df).append(va_df).append(hungarian_df)
#cols = ["age", "sex", "cp", "restbp", "chol", "fbs", "restecg", 
 #          "thalach", "exang", "oldpeak", "slope", "ca", "thal", "num"]
temp = pd.read_csv(Processed_Data, sep=',', header=None, names=hn.values.T.tolist()[0])
print(temp.head())
print()
print(temp.info())
print()

   age  sex  cp  restbp  chol  famhist  fbs  restecg  thalach  thalrest  \
0   63    1   1     145   233        1    1        2      150        60
1   67    1   4     160   286        0    1        2      108        64
2   67    1   4     120   229        0    1        2      129        78
3   37    1   3     130   250        0    1        0      187        84
4   41    0   2     130   204        0    1        2      172        71

   exang  oldpeak  slope  ca  thal  num
0      0      2.3      3   0     6    0
1      1      1.5      2   3     3    2
2      1      2.6      2   2     7    1
3      0      3.5      3   0     3    0
4      0      1.4      1   0     3    0

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 898 entries, 0 to 897
Data columns (total 16 columns):
age         898 non-null int64
sex         898 non-null int64
cp          898 non-null int64
restbp      898 non-null int64
chol        898 non-null int64
famhist     898 non-null int64
fbs         898 non-null int64
restecg     898 non-null int64
thalach     898 non-null int64
thalrest    898 non-null int64
exang       898 non-null int64
oldpeak     898 non-null float64
slope       898 non-null int64
ca          898 non-null int64
thal        898 non-null int64
num         898 non-null int64
dtypes: float64(1), int64(15)
memory usage: 112.3 KB
None

In [ ]:
del temp['name']
del temp['restckm']
del temp['junk']
del temp['lvx1']
del temp['lvx2']
del temp['lvx3']
del temp['lvx4']
del temp['lvf']
del temp['earlobe']
del temp['om1']
del temp['om2']
del temp['rcaprox']
del temp['rcadist']
del temp['cathef']
del temp['diag']
del temp['ramus']
del temp['ladprox']
del temp['laddist']
del temp['thalpul']
del temp['pncaden']
del temp['id']
del temp['ccf']
del temp['ekgmo']
del temp['ekgyr']
del temp['ekgday']
del temp['dig']
del temp['prop']
del temp['nitr']
del temp['pro']
del temp['diuretic']
del temp['proto']
del temp['thaldur']
del temp['thaltime']
del temp['met']
del temp['tpeakbps']
del temp['tpeakbpd']
del temp['dummy']
del temp['xhypo']
del temp['cmo']
del temp['cday']
del temp['cyr']
del temp['thalsev']
del temp['cxmain']
del temp['exeref']
del temp['exerckm']
del temp['rldv5e']
del temp['rldv5']
del temp['restef']
del temp['restwm']
del temp['dm']
del temp['exerwm']
del temp['lmt']
del temp['htn']
del temp['smoker']
del temp['cigsPD']
del temp['syears']
del temp['painexer']
del temp['painloc']
del temp['relrest']
del temp['trestbpd']
temp.info()
temp.head()

In [5]:


hd_DQT = temp.describe().T.round(2)
hd_DQT.index.name = "Features"

#show the table
hd_DQT.round(3)

          count    mean     std   min    25%     50%    75%    max
Features
age       898.0   53.48    9.44  28.0   47.0   54.00   60.0   77.0
sex       898.0    0.79    0.41   0.0    1.0    1.00    1.0    1.0
cp        898.0    3.25    0.93   1.0    3.0    4.00    4.0    4.0
restbp    898.0  124.47   36.02   0.0  120.0  130.00  140.0  200.0
chol      898.0  192.07  115.66   0.0  161.5  222.00  267.0  603.0
famhist   898.0    0.15    0.36   0.0    0.0    0.00    0.0    1.0
fbs       898.0    0.30    0.46   0.0    0.0    0.00    1.0    1.0
restecg   898.0    0.60    0.80   0.0    0.0    0.00    1.0    2.0
thalach   898.0  128.87   41.45   0.0  115.0  137.00  155.0  202.0
thalrest  898.0   70.75   23.15   0.0   63.0   73.00   84.0  139.0
exang     898.0    0.37    0.48   0.0    0.0    0.00    1.0    1.0
oldpeak   898.0    0.84    1.05   0.0    0.0    0.25    1.5    6.2
slope     898.0    1.16    0.98   0.0    0.0    1.00    2.0    3.0
ca        898.0    0.22    0.63   0.0    0.0    0.00    0.0    3.0
thal      898.0    2.35    2.84   0.0    0.0    0.00    3.0    7.0
num       898.0    1.13    1.26   0.0    0.0    1.00    2.0    4.0

In [6]:
# Calculating the cardinality for each feature
arr_index = hd_DQT.index
arr_cardinality = []

for row in arr_index:
    val = len(temp[row].unique())
    arr_cardinality.append(val)

hd_DQT['cardinality'] = arr_cardinality
hd_DQT

,count,mean,std,min,25%,50%,75%,max,cardinality
Features,,,,,,,,,
age,898.0,53.48,9.44,28.0,47.0,54.00,60.0,77.0,50
sex,898.0,0.79,0.41,0.0,1.0,1.00,1.0,1.0,2
cp,898.0,3.25,0.93,1.0,3.0,4.00,4.0,4.0,4
restbp,898.0,124.47,36.02,0.0,120.0,130.00,140.0,200.0,60
chol,898.0,192.07,115.66,0.0,161.5,222.00,267.0,603.0,213
famhist,898.0,0.15,0.36,0.0,0.0,0.00,0.0,1.0,2
fbs,898.0,0.30,0.46,0.0,0.0,0.00,1.0,1.0,2
restecg,898.0,0.60,0.80,0.0,0.0,0.00,1.0,2.0,3
thalach,898.0,128.87,41.45,0.0,115.0,137.00,155.0,202.0,120
thalrest,898.0,70.75,23.15,0.0,63.0,73.00,84.0,139.0,76
exang,898.0,0.37,0.48,0.0,0.0,0.00,1.0,1.0,2
oldpeak,898.0,0.84,1.05,0.0,0.0,0.25,1.5,6.2,42
slope,898.0,1.16,0.98,0.0,0.0,1.00,2.0,3.0,4
ca,898.0,0.22,0.63,0.0,0.0,0.00,0.0,3.0,4
thal,898.0,2.35,2.84,0.0,0.0,0.00,3.0,7.0,4
num,898.0,1.13,1.26,0.0,0.0,1.00,2.0,4.0,5

In [8]:
hd_DQT['median'] = temp.median()
hd_DQT

,count,mean,std,min,25%,50%,75%,max,cardinality,median
Features,,,,,,,,,,
age,898.0,53.48,9.44,28.0,47.0,54.00,60.0,77.0,50,54.00
sex,898.0,0.79,0.41,0.0,1.0,1.00,1.0,1.0,2,1.00
cp,898.0,3.25,0.93,1.0,3.0,4.00,4.0,4.0,4,4.00
restbp,898.0,124.47,36.02,0.0,120.0,130.00,140.0,200.0,60,130.00
chol,898.0,192.07,115.66,0.0,161.5,222.00,267.0,603.0,213,222.00
famhist,898.0,0.15,0.36,0.0,0.0,0.00,0.0,1.0,2,0.00
fbs,898.0,0.30,0.46,0.0,0.0,0.00,1.0,1.0,2,0.00
restecg,898.0,0.60,0.80,0.0,0.0,0.00,1.0,2.0,3,0.00
thalach,898.0,128.87,41.45,0.0,115.0,137.00,155.0,202.0,120,137.00
thalrest,898.0,70.75,23.15,0.0,63.0,73.00,84.0,139.0,76,73.00
exang,898.0,0.37,0.48,0.0,0.0,0.00,1.0,1.0,2,0.00
oldpeak,898.0,0.84,1.05,0.0,0.0,0.25,1.5,6.2,42,0.25
slope,898.0,1.16,0.98,0.0,0.0,1.00,2.0,3.0,4,1.00
ca,898.0,0.22,0.63,0.0,0.0,0.00,0.0,3.0,4,0.00
thal,898.0,2.35,2.84,0.0,0.0,0.00,3.0,7.0,4,0.00
num,898.0,1.13,1.26,0.0,0.0,1.00,2.0,4.0,5,1.00

In [9]:
hd_DQT = hd_DQT[['count','cardinality','min','25%','mean','median','75%','max','std']]
hd_DQT.columns = ['Count','Cardinality','Min','1st Quart','Mean','Median','3rd Quart','Max','Std. Dev.']
hd_DQT

,Count,Cardinality,Min,1st Quart,Mean,Median,3rd Quart,Max,Std. Dev.
Features,,,,,,,,,
age,898.0,50,28.0,47.0,53.48,54.00,60.0,77.0,9.44
sex,898.0,2,0.0,1.0,0.79,1.00,1.0,1.0,0.41
cp,898.0,4,1.0,3.0,3.25,4.00,4.0,4.0,0.93
restbp,898.0,60,0.0,120.0,124.47,130.00,140.0,200.0,36.02
chol,898.0,213,0.0,161.5,192.07,222.00,267.0,603.0,115.66
famhist,898.0,2,0.0,0.0,0.15,0.00,0.0,1.0,0.36
fbs,898.0,2,0.0,0.0,0.30,0.00,1.0,1.0,0.46
restecg,898.0,3,0.0,0.0,0.60,0.00,1.0,2.0,0.80
thalach,898.0,120,0.0,115.0,128.87,137.00,155.0,202.0,41.45
thalrest,898.0,76,0.0,63.0,70.75,73.00,84.0,139.0,23.15
exang,898.0,2,0.0,0.0,0.37,0.00,1.0,1.0,0.48
oldpeak,898.0,42,0.0,0.0,0.84,0.25,1.5,6.2,1.05
slope,898.0,4,0.0,0.0,1.16,1.00,2.0,3.0,0.98
ca,898.0,4,0.0,0.0,0.22,0.00,0.0,3.0,0.63
thal,898.0,4,0.0,0.0,2.35,0.00,3.0,7.0,2.84
num,898.0,5,0.0,0.0,1.13,1.00,2.0,4.0,1.26

In [10]:
hd_DQT.to_csv(path + './data/DQT.csv')
print("data quality table written to DQT in the data folder")
#temp.to_csv(Processed_Data)
print("Data has been processed for plotting it too is in the data folder ")

data quality table written to DQT in the data folder
Data has been processed for plotting it too is in the data folder